/*
* LESS Variables are defined with an @ character
* and can have different kinds of data types:
* color, string, boolean, multi­value
*/


//Variables

@black: #000000;
@bg-opa: rgba(0, 0, 0, 0.5);
@font-arialmt:'ArialMT';
@font-rubikl:'Rubik-Light';
@font-rubikr:'Rubik-Regular';
@urlfontSize:16px;

//Mixins

@font-face {
    font-family: 'ArialMT';
    src: url('../fonts/ArialMT.eot');
    src: url('../fonts/ArialMT.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ArialMT.woff') format('woff'),
    url('../fonts/ArialMT.ttf') format('truetype'),
    url('../fonts/ArialMT.svg#flexslider-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik-Light';
    src: url('../fonts/Rubik-Light.eot');
    src: url('../fonts/Rubik-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rubik-Light.woff') format('woff'),
    url('../fonts/Rubik-Light.woff2') format('woff2'),
    url('../fonts/Rubik-Light.ttf') format('truetype'),
    url('../fonts/Rubik-Light.svg#flexslider-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik-Regular';
    src: url('../fonts/Rubik-Regular.eot');
    src: url('../fonts/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rubik-Regular.woff') format('woff'),
    url('../fonts/Rubik-Regular.woff2') format('woff2'),
    url('../fonts/Rubik-Regular.ttf') format('truetype'),
    url('../fonts/Rubik-Regular.svg#flexslider-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
	font-family:@font-rubikr;
}
.radius(@radius) {
 -webkit-border-radius: @radius; //Chrome,Safari4+
 -moz-border-radius: @radius;	 //FF3.6+ 
 -o-border-radius: @radius;		 //Opera 11.10+ 
 -ms-border-radius: @radius;     //IE10+ 
  border-radius: @radius;
}

.boxShadow(@boxColor){
	-webkit-box-shadow: 0 0 30px 5px @boxColor;
	-moz-box-shadow: 0 0 30px 5px @boxColor;  
	-o-box-shadow: 0 0 30px 5px @boxColor; 
	-ms-box-shadow: 0 0 30px 5px @boxColor;
 	-webkit-box-shadow: 0 0 30px 5px @boxColor;
	box-shadow: 0 0 30px 5px @boxColor;
}

.navbar-brand{
	display:none;
}
.blueBG{
	background: #F5FAFF;
	display: inline;
	float: left;
	width: 100%;
}
.wraparticle{
	padding:10px 0;
	.txttitle{
		color:#9b9b9b;
		font-size: 36px;
		padding:0 30px;
		margin-bottom:20px;
	}
}
.listarticle{
	display:inline;
	float:left;
	text-align:center;	
	.card {
		border-radius: 4px;
		background-color: #ffffff;
		border: solid 1px #e5e5e5;
		.boxShadow(#BFBFBF);
		margin:20px 0;
		p{
			width:90%;
			margin:0 5%;
			text-align:left;
			padding:25px 0;
		}
		.wrapimage{
			width:100%;
			position:relative;
			img{
				width:100%;
			}
			h4{
				position:absolute;
				bottom:-8px;
				left:0;
				width:100%;
				padding:20px 5%;
				background:@bg-opa;
				color:#fff;
				text-align:left;
			}
		}
	}
}
.carousel-item {
    height: 65vh;
    min-height: 563px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-dark-opa{
	background:@bg-opa;
}
.carousel-indicators{
	bottom:175px;
	li{
		border-radius: 50%;
		width:10px;
		height:10px;
	}
}

.navbar-nav{
	.nav-item{
		a{
			font-family:@font-arialmt;
			font-size:@urlfontSize;
		}
	}	
}
.left-nav{
	position:absolute;
	left:0;
	top:0;
	display:none;
}
.bg-dark-footer{
	display:inline;
	float:left;
	padding:75px 0;
	background:@black;
}
.footer-nav{
	li{
		display:inline;
		float:left;
		text-align:center;
		a{
			color:#fff;
			font-family:@font-arialmt;
			font-size:@urlfontSize;
			line-height: 20px;
		}
		
	}
}
.wrappaging{
	display:inline-block;
	margin-top:20px;
	width:100%;
	.pagination{
		float:right;
		margin-right:10px;
	}
		li{
			.page-link{
				font-family: HelveticaNeue;
				color:@black;	
			}
		}
		li.active{
			.page-link{
				background:@black;
				border-color:@black;
				color:#fff;
			}
		}
}
.carousel-caption{
	background:@bg-opa;
	bottom:0;
	padding:20px 0;
	display: table;
    table-layout: fixed;
	h3,p{
		display: table-cell;
        vertical-align: middle;
        float: none;
		font-family:@font-rubikl;
		width:50%;

	}
	h3{
		font-size:48px;
	}
	p{
		border-left: solid 1px #ffffff;
		font-size:14px;
		text-align:left;
		padding:20px 20px 20px 40px;
	}
}

.carousel-control-prev-icon,.carousel-control-next-icon{
	width:42px;
	height:77px;	
}
.carousel-control-prev-icon{
	background-image:url('../img/arrow-left.png');
}
.carousel-control-next-icon{
	background-image:url('../img/arrow-right.png');
}
.carousel-control-next, .carousel-control-prev{
	background:@bg-opa;
	height:150px;
	top:30%;
	width:100px;
}


@media (max-width:774px){
	.carousel-indicators{
		bottom:240px;
	}
	.d-md-block{
		display:block!important;
	}
}
@media (max-width:575px){
	.bg-dark-opa{
		background:@black;
	}
	.carousel-indicators{
		bottom:10px;
	}
	.bg-dark-footer{
		padding:35px 0;
	}
	.wrappaging{
		text-align:center;
		.pagination{
    		justify-content: center;
    		float:none;
		}
	}
	.carousel-caption{
		h3,p{
			display:inline-block;
			float:left;
			width:100%;
		}
		p{
			border-left:none;
			text-align:center;
		}
		h3:before{
			content : "";
			position: absolute;
			left : 25%;
			bottom : -15px;
			height  : 1px;
			border-top: solid 1px #ffffff;
			width: 50%;
		}

	}
	.carousel-control-next, .carousel-control-prev{
		display:none;
	}
	.carousel-control-prev-icon,.carousel-control-next-icon{
		display:none;	
	}
	.navbar-brand{
		display:block;
		font-family:@font-arialmt;
		margin-left:50px;
	}
	.navbar-dark .navbar-toggler{
		border:none;
		font-weight:bold;
		position:absolute;
		left:10px;
		top:10px;
	}
	.navbar-dark .navbar-toggler:visited,
	.navbar-dark .navbar-toggler:active,
	.navbar-dark .navbar-toggler:focus{
		border:none!important;
   		outline-color: transparent;
	}
}