/*
* LESS Variables are defined with an @ character
* and can have different kinds of data types:
* color, string, boolean, multi­value
*/
@font-face {
  font-family: 'ArialMT';
  src: url('../fonts/ArialMT.eot');
  src: url('../fonts/ArialMT.eot?#iefix') format('embedded-opentype'), url('../fonts/ArialMT.woff') format('woff'), url('../fonts/ArialMT.ttf') format('truetype'), url('../fonts/ArialMT.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik-Light';
  src: url('../fonts/Rubik-Light.eot');
  src: url('../fonts/Rubik-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Rubik-Light.woff') format('woff'), url('../fonts/Rubik-Light.woff2') format('woff2'), url('../fonts/Rubik-Light.ttf') format('truetype'), url('../fonts/Rubik-Light.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik-Regular';
  src: url('../fonts/Rubik-Regular.eot');
  src: url('../fonts/Rubik-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Rubik-Regular.woff') format('woff'), url('../fonts/Rubik-Regular.woff2') format('woff2'), url('../fonts/Rubik-Regular.ttf') format('truetype'), url('../fonts/Rubik-Regular.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Rubik-Regular';
}
.navbar-brand {
  display: none;
}
.blueBG {
  background: #F5FAFF;
  display: inline;
  float: left;
  width: 100%;
}
.wraparticle {
  padding: 10px 0;
}
.wraparticle .txttitle {
  color: #9b9b9b;
  font-size: 36px;
  padding: 0 30px;
  margin-bottom: 20px;
}
.listarticle {
  display: inline;
  float: left;
  text-align: center;
}
.listarticle .card {
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
  -moz-box-shadow: 0 0 30px 5px #bfbfbf;
  -o-box-shadow: 0 0 30px 5px #bfbfbf;
  -ms-box-shadow: 0 0 30px 5px #bfbfbf;
  -webkit-box-shadow: 0 0 30px 5px #bfbfbf;
  box-shadow: 0 0 30px 5px #bfbfbf;
  margin: 20px 0;
}
.listarticle .card p {
  width: 90%;
  margin: 0 5%;
  text-align: left;
  padding: 25px 0;
}
.listarticle .card .wrapimage {
  width: 100%;
  position: relative;
}
.listarticle .card .wrapimage img {
  width: 100%;
}
.listarticle .card .wrapimage h4 {
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  padding: 20px 5%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: left;
}
.carousel-item {
  height: 65vh;
  min-height: 563px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-dark-opa {
  background: rgba(0, 0, 0, 0.5);
}
.carousel-indicators {
  bottom: 175px;
}
.carousel-indicators li {
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.navbar-nav .nav-item a {
  font-family: 'ArialMT';
  font-size: 16px;
}
.left-nav {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.bg-dark-footer {
  display: inline;
  float: left;
  padding: 75px 0;
  background: #000000;
}
.footer-nav li {
  display: inline;
  float: left;
  text-align: center;
}
.footer-nav li a {
  color: #fff;
  font-family: 'ArialMT';
  font-size: 16px;
  line-height: 20px;
}
.wrappaging {
  display: inline-block;
  margin-top: 20px;
  width: 100%;
}
.wrappaging .pagination {
  float: right;
  margin-right: 10px;
}
.wrappaging li .page-link {
  font-family: HelveticaNeue;
  color: #000000;
}
.wrappaging li.active .page-link {
  background: #000000;
  border-color: #000000;
  color: #fff;
}
.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  padding: 20px 0;
  display: table;
  table-layout: fixed;
}
.carousel-caption h3,
.carousel-caption p {
  display: table-cell;
  vertical-align: middle;
  float: none;
  font-family: 'Rubik-Light';
  width: 50%;
}
.carousel-caption h3 {
  font-size: 48px;
}
.carousel-caption p {
  border-left: solid 1px #ffffff;
  font-size: 14px;
  text-align: left;
  padding: 20px 20px 20px 40px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 42px;
  height: 77px;
}
.carousel-control-prev-icon {
  background-image: url('../img/arrow-left.png');
}
.carousel-control-next-icon {
  background-image: url('../img/arrow-right.png');
}
.carousel-control-next,
.carousel-control-prev {
  background: rgba(0, 0, 0, 0.5);
  height: 150px;
  top: 30%;
  width: 100px;
}
@media (max-width: 774px) {
  .carousel-indicators {
    bottom: 240px;
  }
  .d-md-block {
    display: block!important;
  }
}
@media (max-width: 575px) {
  .bg-dark-opa {
    background: #000000;
  }
  .carousel-indicators {
    bottom: 10px;
  }
  .bg-dark-footer {
    padding: 35px 0;
  }
  .wrappaging {
    text-align: center;
  }
  .wrappaging .pagination {
    justify-content: center;
    float: none;
  }
  .carousel-caption h3,
  .carousel-caption p {
    display: inline-block;
    float: left;
    width: 100%;
  }
  .carousel-caption p {
    border-left: none;
    text-align: center;
  }
  .carousel-caption h3:before {
    content: "";
    position: absolute;
    left: 25%;
    bottom: -15px;
    height: 1px;
    border-top: solid 1px #ffffff;
    width: 50%;
  }
  .carousel-control-next,
  .carousel-control-prev {
    display: none;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: none;
  }
  .navbar-brand {
    display: block;
    font-family: 'ArialMT';
    margin-left: 50px;
  }
  .navbar-dark .navbar-toggler {
    border: none;
    font-weight: bold;
    position: absolute;
    left: 10px;
    top: 10px;
  }
  .navbar-dark .navbar-toggler:visited,
  .navbar-dark .navbar-toggler:active,
  .navbar-dark .navbar-toggler:focus {
    border: none!important;
    outline-color: transparent;
  }
}
